#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
#inspire {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	/*background-color: #0e4ac4;*/
	background-color: #0000ff21;
}

.btn_lud {
	background-color: #0000ff21;
}

.container.fill-height {
	align-items: normal;
}
a.side_bar_link {
	text-decoration: none;
}

.aside_left {
	background-color: #dedeff75;
}
.btn_sign {
	display:none!important
}
.divDesk {
		display: block;
	}
.divMobil {
		display: none;
	}

@media only screen and (max-width: 600px) {
	.btn_sign {
		display:block!important
	}
	.divDesk {
		display: none;
	}
	.divMobil {
		display: block;
	}
	.page {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 100%!important;
		height: 100%!important;
	}
	#yours {
		width: 40%!important;
		height: 25%!important;
		position: absolute;
		top: 2%!important;
		right: 15px;
	}
	#theirs {
		width: 95%!important;
		height: 410px!important;
	}
	.v-textcall-video {
		width: 80% !important;
		margin: 0px 0px 0px 10% !important;
	}
	.oauthItems {
		margin: 0px 0px 2% 0px!important;
	}
	#received {
		display: block;
		width: 95%!important;
		height: 100px;
		background: white;
		padding: 10px;
		margin: 10px 10px 10px 10px!important;
		color: black;
		overflow: scroll;
	}
	.btn.facebook {
	background-color: #3b5998 !important;
	border-color: #2196f3;
	color: #fff !important;
	width: 100%;
}
.btn.twitter {
	background-color: #2196f3 !important;
	border-color: #2196f3;
	color: #fff !important;
	width: 100%;
}
.btn.google {
	background-color: #dd4b39 !important;
	border-color: #dd4b39;
	color: #fff !important;
	width: 100%;
}
.btn.linkedin {
	background-color: #4875B4 !important;
	border-color: #4875B4;
	color: #fff !important;
	width: 100%;
}
}

.btn.facebook {
	background-color: #3b5998 !important;
	border-color: #2196f3;
	color: #fff !important;
}
.btn.twitter {
	background-color: #2196f3 !important;
	border-color: #2196f3;
	color: #fff !important;
}
.btn.google {
	background-color: #dd4b39 !important;
	border-color: #dd4b39;
	color: #fff !important;
}
.btn.linkedin {
	background-color: #4875B4 !important;
	border-color: #4875B4;
	color: #fff !important;
}
/*body {
	background-color: #3D6DF2;
	margin-top: 15px;
	font-family: sans-serif;
	color: white;
	}*/
	video {
		background: black;
		border: 1px solid gray;
	}
	.page {
		position: relative;
		display: block;
		margin: 0 auto;
		width: 500px;
		height: 100%;
	}
	#yours {
		width: 150px;
		height: 150px;
		position: absolute;
		top: 15px;
		right: 15px;
	}
	#theirs {
		width: 500px;
		height: 500px;
	}

	.imgLogin {
  /*border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;*/
  width: 30px;
}

.v-textfield {
	width: 80% !important;
	margin: 0px 0px 0px 10% !important;
}

.v-input__icon--prepend-inner .fas {
	font-size:18px;
}

.v-textcall {
	width: 95%;
	margin: 0px 0px 0px 10%;
}
.v-textcall-video {
	width: 95%;
	margin: 0px 0px 0px 10%;
}

.login {
	margin: 0px 0px 5% 0px;
}

.oauthItems {
	margin: 0px 0px 0% 0px;
}
#received {
	display: block;
	width: 480px;
	height: 100px;
	background: white;
	padding: 10px;
	margin-top: 10px;
	color: black;
	overflow: scroll;
}

/*TimeLines css begin*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: 4fe38a;
  top: 0;
  bottom: 0;
  left: .01%;
  margin-left: -2px;
}

.timeline-item {
  padding: 10px 20px;
  position: relative;
  background-color: inherit;
  width: 10%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  right: -9px;
  background-color: #0e4ac4;
  border: 2px solid #fff;
  top: 22px;
  border-radius: 50%;
  z-index: 1;
}

	/*.left {
	  left: 0;
	}*/

/*.right {
  left: 50%;
}*/

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 10%;
  border: medium solid #4fe38a;
  border-width: 10px 10px 10px 0;
  border-right: solid #4fe38a!important;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -10px;
}

.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Responsive on screens less than 600px wide */
@media screen and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding: 0px 25px 0px 70px!important;
  }

  .timeline-item::before {
    left: 50px;
    border: medium solid #4fe38a;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    margin-top: -0.01%;
  }

  .left::after,
  .right::after {
    left: 21px;
  }

  .right {
    left: 0%;
  }
  .login {
	margin: 0px 0px 0px 0px;
}
}

/*TimeLines css End*/